<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Salas</title>
</head>
<body>
    <h1>Lista de Salas</h1>
    <ul>
        {% for sala in salas %}
            <li>
                {{ sala.numero }} - {{ sala.capacidad }}
                <ul>
                    {% for enlace in sala.enlaces %}
                        <li><a href="{{ enlace.href }}" method="{{ enlace.metodo }}">{{ enlace.rel }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
