<!-- lista_salas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Salas</title>
</head>
<body>
    <h1>Lista de Salas</h1>

    {% for sala in salas %}
        <h2>Sala {{ sala.numero }}</h2>
        {% for enlace in sala.enlaces %}
            <button onclick="window.location.href='{{ enlace.url }}'">{{ enlace.rel }}</button>
        {% endfor %}
    {% endfor %}

</body>
</html>
