<!-- mis_reservas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
</head>
<body>
    <h1>Mis Reservas</h1>

    {% if reservas %}
        <table border="1">
            <thead>
                <tr>
                    <th>Numero Sala</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <!-- <th>Nombre del Reservante</th> -->
                    <!-- <th>Enlaces</th> -->
                    <!-- Agregar más campos según sea necesario -->
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.numero_sala }}</td>
                        <td>{{ reserva.fecha_inicio }}</td>
                        <td>{{ reserva.fecha_fin }}</td>
                        <td>
                            {{ enlaces[1].rel }}
                            {{ enlaces[2].rel }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron reservas para este usuario.</p>
    {% endif %}

    <button onclick="window.location.href = '{{ enlaces[0].url }}'">Volver</button>
</body>
</html>
