.disabled-date {
    background: #ff000057;
    cursor: not-allowed;      
  }

  /* Las siguientes lineas se encargan de borrar el header de sabado/domingo del calendario,
  no es la mejor practica... pero por ahora funciona */
  #root > div > div > div > div.rbc-month-view > div.rbc-row.rbc-month-header > div:nth-child(6){
    display: none;
  }
  #root > div > div > div > div.rbc-month-view > div.rbc-row.rbc-month-header > div:nth-child(7){
    display: none;
  }