<!-- select_office.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Office</title>
</head>
<body>
    <h1>Select Office</h1>

    {% for oficina in oficinas_data %}
        <button class="office-button" oficina_id="{{ oficina.oficina_id }}" onclick="redirectToSalas(this)">{{ oficina.nombre }}</button>
    {% endfor %}

    <script>
        function redirectToSalas(button) {
            const oficinaId = button.getAttribute('oficina_id');
            document.cookie = `oficina_id=${oficinaId}`;
            document.cookie = 'selecciono_oficina=1'; // 0 false 1 true
            window.location.href = `${oficinaId}/salas`;
        }

        // Crear/limpiar cookies cuando cargue la pagina
        // window.addEventListener('load', function(event) {
        //     // Limpiar las cookies al retroceder en el historial
        //     document.cookie = 'oficina_id=';            // document.cookie = 'oficina_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';    
        //     document.cookie = 'selecciono_oficina=0';    // document.cookie = 'selecciono_oficina=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        // });
        // Manejar el evento popstate
        window.addEventListener('popstate', function(event) {
            // Limpiar las cookies al retroceder en el historial
            console.log("El usuario retrocedio y las cookies fueron borradas");
            document.cookie = 'oficina_id=';            // document.cookie = 'oficina_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';    
            document.cookie = 'selecciono_oficina=0';    // document.cookie = 'selecciono_oficina=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        });
    </script>
</body>
</html>
